{% extends 'accounts/main.html'%}
{% block title%}Products {% endblock%}

{% block content %}
    <br>
    <div class="row" style="margin-left: auto; margin-right: auto;">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
                    {% for product in product %}
                    <tr>
                        <th>{{ product.name}}</th>
                        <th>{{ product.price }}</th>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}